In [1]:
import pandas as pd

In [15]:
txin_df = pd.read_csv('trimmed_dataset/txin.txt', delimiter='\t', names=['txID', 'i', 'addrID', 'value'])
txlinks_df = pd.read_csv('trimmed_dataset/txlinks.txt', delimiter='\t', names=['txID', 'i', 'prev_txID', 'prev_i'])

In [16]:
txin_df.head()

   txID  i   addrID       value
0   171  0  1687416  5000000000
1   183  0  1687416  4000000000
2   185  0  1687416  3000000000
3   187  0  1687416  2900000000
4   192  0  7894664   100000000

In [17]:
txlinks_df.head()

   txID  i  prev_txID  prev_i
0   171  0          9       0
1   183  0        171       1
2   185  0        183       1
3   187  0        185       1
4   192  0        187       0

In [18]:
df = pd.merge(txin_df, txlinks_df, how='left', on=['txID', 'i'])

In [20]:
df

              txID  i     addrID       value  prev_txID  prev_i
0              171  0    1687416  5000000000          9       0
1              183  0    1687416  4000000000        171       1
2              185  0    1687416  3000000000        183       1
3              187  0    1687416  2900000000        185       1
4              192  0    7894664   100000000        187       0
5              227  0  101635574   100000000        185       0
6              255  0    1687416  2800000000        187       1
7              504  0   35811624  5000000000        367       0
8              504  1   19225707   100000000        192       0
9              504  2   53048833  1000000000        255       0
10             533  0   87947477  5000000000        293       0
11             555  0   59966218  2500000000        533       0
12             557  0   64064811   100000000        555       0
13             557  1   59966218  2400000000        555       1
14             558  0   91987224   100000000        557       0
15             558  1   64064811  2400000000        557       1
16             559  0   91987224   100000000        558       0
17             559  1   91987224  2400000000        558       1
18             600  0   61836210  5000000000        275       0
19             600  1   66937703  5000000000        424       0
20             600  2   44014304  5000000000        438       0
21             600  3   43872557  5000000000        449       0
22             600  4   98303899  5000000000        457       0
23             601  0   64528685  5000000000        324       0
24             609  0   16327307  5000000000        336       0
25             724  0    5792250  5000000000        509       0
26             724  1   29857390  5000000000        514       0
27             746  0  104176454  5000000000        517       0
28             746  1   34589353  5000000000        364       0
29             962  0   56855477  5000000000        612       0
...            ... ..        ...         ...        ...     ...
65715583  30048972  0   34431513    94303318   30048579       1
65715584  30048972  1  104126158      543210   30047198       1
65715585  30048972  2  104126158      543210   30047201       1
65715586  30048973  0   34431513    87679738   30048972       1
65715587  30048974  0   34431513    59969738   30048973       1
65715588  30048975  0   20901129   225610000   30046705       0
65715589  30048975  1   65195070    10970000   30047951       1
65715590  30048975  2  120018820    14170000   30047943       1
65715591  30048976  0   75923313     2119236   29976127      39
65715592  30048976  1  120084720      353754   29955970       1
65715593  30048976  2   75923313     2196878   30032123      36
65715594  30048977  0   72216257     1016467   30032276       1
65715595  30048977  1   82853362     1001767   30046487       1
65715596  30048977  2  104177392     1018367   30036575       0
65715597  30048978  0   51232690     1900000   30048977       0
65715598  30048978  1   55495915     6847071   30040756       1
65715599  30048979  0   88025071       18953   29290620     185
65715600  30048979  1  106947879       59868   30048976       1
65715601  30048979  2   75923313     2136862   30044526      35
65715602  30048980  0   55554691       30000   30028178       1
65715603  30048980  1   55554691       10000   29986346       1
65715604  30048980  2   55554691   140490000   30048615       1
65715605  30048981  0   80372230     1000000   30046272       0
65715606  30048981  1   49028140     2329051   30044851      50
65715607  30048981  2   91909821      664787   30044851     188
65715608  30048981  3   47975424    19251576   30044851     215
65715609  30048981  4   80372230      800000   30046630       0
65715610  30048981  5   58267667     1000000   30045497      23
65715611  30048981  6  109642399     1000005   30046578       1
65715612  30048982  0   79994084   420182111   30048230       6

[65715613 rows x 6 columns]

In [23]:
df.value = df.value * 10**-8

In [24]:
df

              txID  i     addrID      value  prev_txID  prev_i
0              171  0    1687416  50.000000          9       0
1              183  0    1687416  40.000000        171       1
2              185  0    1687416  30.000000        183       1
3              187  0    1687416  29.000000        185       1
4              192  0    7894664   1.000000        187       0
5              227  0  101635574   1.000000        185       0
6              255  0    1687416  28.000000        187       1
7              504  0   35811624  50.000000        367       0
8              504  1   19225707   1.000000        192       0
9              504  2   53048833  10.000000        255       0
10             533  0   87947477  50.000000        293       0
11             555  0   59966218  25.000000        533       0
12             557  0   64064811   1.000000        555       0
13             557  1   59966218  24.000000        555       1
14             558  0   91987224   1.000000        557       0
15             558  1   64064811  24.000000        557       1
16             559  0   91987224   1.000000        558       0
17             559  1   91987224  24.000000        558       1
18             600  0   61836210  50.000000        275       0
19             600  1   66937703  50.000000        424       0
20             600  2   44014304  50.000000        438       0
21             600  3   43872557  50.000000        449       0
22             600  4   98303899  50.000000        457       0
23             601  0   64528685  50.000000        324       0
24             609  0   16327307  50.000000        336       0
25             724  0    5792250  50.000000        509       0
26             724  1   29857390  50.000000        514       0
27             746  0  104176454  50.000000        517       0
28             746  1   34589353  50.000000        364       0
29             962  0   56855477  50.000000        612       0
...            ... ..        ...        ...        ...     ...
65715583  30048972  0   34431513   0.943033   30048579       1
65715584  30048972  1  104126158   0.005432   30047198       1
65715585  30048972  2  104126158   0.005432   30047201       1
65715586  30048973  0   34431513   0.876797   30048972       1
65715587  30048974  0   34431513   0.599697   30048973       1
65715588  30048975  0   20901129   2.256100   30046705       0
65715589  30048975  1   65195070   0.109700   30047951       1
65715590  30048975  2  120018820   0.141700   30047943       1
65715591  30048976  0   75923313   0.021192   29976127      39
65715592  30048976  1  120084720   0.003538   29955970       1
65715593  30048976  2   75923313   0.021969   30032123      36
65715594  30048977  0   72216257   0.010165   30032276       1
65715595  30048977  1   82853362   0.010018   30046487       1
65715596  30048977  2  104177392   0.010184   30036575       0
65715597  30048978  0   51232690   0.019000   30048977       0
65715598  30048978  1   55495915   0.068471   30040756       1
65715599  30048979  0   88025071   0.000190   29290620     185
65715600  30048979  1  106947879   0.000599   30048976       1
65715601  30048979  2   75923313   0.021369   30044526      35
65715602  30048980  0   55554691   0.000300   30028178       1
65715603  30048980  1   55554691   0.000100   29986346       1
65715604  30048980  2   55554691   1.404900   30048615       1
65715605  30048981  0   80372230   0.010000   30046272       0
65715606  30048981  1   49028140   0.023291   30044851      50
65715607  30048981  2   91909821   0.006648   30044851     188
65715608  30048981  3   47975424   0.192516   30044851     215
65715609  30048981  4   80372230   0.008000   30046630       0
65715610  30048981  5   58267667   0.010000   30045497      23
65715611  30048981  6  109642399   0.010000   30046578       1
65715612  30048982  0   79994084   4.201821   30048230       6

[65715613 rows x 6 columns]

In [25]:
df[['prev_txID', 'txID', 'value']].to_csv('trimmed_dataset/tx.edgelist', sep=' ', header=False, index=False)